$webfont: "{{fontName}}";

@font-face {
    font-family: $webfont;
    src: {{{src}}};
}

%{{baseSelectorPlain}} {
    display: block;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;

    &::before {
        font-family: $webfont;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
    }
}

{{baseSelector}} {
    @extend %{{baseSelectorPlain}};
    width: $base-icon-width;
    height: $base-icon-height;
    font-size: $base-icon-width;
    line-height: $base-icon-height;
    color: $gray-oxford;
    fill: $gray-oxford;
}

{{classPrefix}}inverted {
    color: #ffffff !important;
    fill: #ffffff !important;
}

@each $size1 in $sizes {
    $map: map-get($icon-sizes, $size1);

    {{classPrefix}}#{$size1} {
        width: map-get($map, 'width');
        height: map-get($map, 'height');
        font-size: map-get($map, 'width');
        line-height: map-get($map, 'height');
    }
}

{{#each codepoints}}
{{@root.classPrefix}}{{@key}} { &::before { content: "\\{{this}}"; } }
{{/each}}

$social-rainbow-google: url('~frontend_style/images/google.svg') no-repeat center center;
$freepik-logo: url('~frontend_style/images/freepik-logo.svg') no-repeat center center;
$flaticon-logo: url('~frontend_style/images/flaticon-logo.svg') no-repeat center center;

$social-behance:        #1769ff;
$social-dribbble:       #ea4c89;
$social-facebook:       #1877F2;
$social-google:         #dd4b39;
$social-instagram:      #c32aa3;
$social-pinterest:      #cb2027;
$social-stumbleupon:    #f74425;
$social-twitter:        #55acee;
$social-vimeo:          #aad450;
$social-youtube:        #bb0000;
$social-whatsapp:       #25d366;
$social-telegram:       #0088cc;

$social-icons: (
    'behance': $social-behance,
    'dribbble': $social-dribbble,
    'facebook': $social-facebook,
    'google': $social-google,
    'instagram': $social-instagram,
    'pinterest': $social-pinterest,
    'stumbleupon': $social-stumbleupon,
    'twitter': $social-twitter,
    'vimeo': $social-vimeo,
    'youtube': $social-youtube,
    'whatsapp': $social-whatsapp,
    'telegram': $social-telegram,
);

@each $name, $color in $social-icons {
    .icon--color-#{$name} {
        color: $color;
    }
}

.icon--color-rainbow-google {
    background: $social-rainbow-google;
}

.icon--freepik-logo {
    background: $freepik-logo;
}

.icon--flaticon-logo {
    background: $flaticon-logo;
}
