*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: $font-family, sans-serif;
    background-color: $gray-aqua;
    padding: 0;
    margin: 0;
}

// main colors
$button-main-color: var(--button-main-color);
$checkbox-active-color: var(--checkbox-active-color);
$checkbox-border-hover-color: var(--checkbox-border-hover-color);
$link-color: var(--link-color);

:root {
    --button-main-color: #{$blue-freepik};
    --checkbox-active-color: #{$blue-freepik};
    --checkbox-border-hover-color: #{$blue-freepik};
    --link-color: #{$blue-freepik};
}

body.theme--slidesgo {
    --button-main-color: #{$purple-sara};
    --checkbox-active-color: #{$purple-sara};
    --checkbox-border-hover-color: #{$purple-sara};
    --link-color: #{$purple-sara};
}

body.theme--freepikcompany {
    --button-main-color: #{$dark-blue-fc};
    --checkbox-active-color: #{$dark-blue-fc};
    --checkbox-border-hover-color: #{$dark-blue-fc};
    --link-color: #{$dark-blue-fc};
}

body.theme--flaticon {
    --button-main-color: #{$green-flaticon};
    --checkbox-active-color: #{$green-flaticon};
    --checkbox-border-hover-color: #{$green-flaticon};
    --link-color: #{$green-flaticon};
}

// prevent events propagating to children
a,
button,
select {
    > * {
        pointer-events: none;
    }
}

// puts back events propagating to children
a,
button,
select {
    > .pointer-enabled {
        pointer-events: initial;
    }
}
