@use "sass:math";

.flex-container {
    width: 100%;
    padding: 0px $col-spacing + px;
    margin: 0 auto;

    @each $media, $width in $breakpoints {
        @media (min-width: #{$width}px) {
            width: $width + px;
        }
    }
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: -$col-spacing + px;
    margin-right: -$col-spacing + px;

    &--center {
        align-items: center;
    }

    @each $media, $width in $breakpoints {
        @media (max-width: #{$width}px) {
            &--#{$media}-inverse {
                flex-direction: column-reverse;
            }
        }
    }
}

.flex-row [class*='col-'] {
    width: 100%;
    grid-column-gap: $col-spacing + px;

    > div {
        padding: 0 $col-spacing + px;
    }
}

@for $i from 1 through $grid-system {
    .flex-row .col-#{$i} {
        width: calc(100% / #{math.div($grid-system, $i)});
    }
}

@each $media, $width in $breakpoints {
    @media (min-width: #{$width}px) {
        @for $i from 1 through $grid-system {
            .flex-row .col-#{$media}-#{$i} {
                width: calc(100% / #{math.div($grid-system, $i)});
            }
        }
    }
}

@mixin media($breakpoint, $side: 'min') {
    @media (#{$side}-width: #{$breakpoint}px) {
        @content;
    }
}
