button, .button {
    font-family: $font-family;
    position: relative;
    display: inline-block;
    text-align: center;
    font-weight: $font-weight-bold;
    text-decoration: none;
    padding: 0 $spacing-lg;
    line-height: 1.6;
    min-width: 44px;
    height: 44px;
    font-size: $font-size-md;
    transition: 250ms linear;
    border-radius: $base-border-radius;
    background-color: var(--button-main-color);
    color: #ffffff;
    cursor: pointer;
    border: none;
    outline: none;

    &--outline {
        background: rgba(248, 250, 251, 0.1);
        box-shadow: inset 0 0 0 2px $gray-gaysir;
        color: $gray-oxford;
    }

    &--full-width {
        width: 100%;
    }

    &--with-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        .icon {
            margin-right: $spacing-sm;
            color: inherit;
            fill: inherit;
        }
    }

    &--paypal {
        background: url('~frontend_style/images/paypal.svg') no-repeat center center;
    }

    &--no-style {
        padding: 0;
        margin: 0;
        height: auto;
        background: none;
    }

    &--loading {
        pointer-events: none;
    }

    &:disabled {
        opacity: 0.4;
        pointer-events: none;
    }

    [data-spinner] {
        border: 2px solid rgba($color: white, $alpha: 0.35);
        border-left-color: rgba($color: white, $alpha: 1);
        border-radius: 50%;
        display: inline-block;
        height: 24px;
        width: 24px;
        
        animation: rotate 1s ease infinite;

        &[data-spinner-dark] {
            border: 2px solid $gray-mystic;
            border-left-color: $gray-cadet;
        }
    }      
}
