$gray-ebony: 			#1D262D;
$gray-oxford: 			#424242;
$gray-bayoux: 			#4A6375;
$gray-hoki: 			#777777;
$gray-bali: 			#869FB2;
$gray-cadet:			#A5B7C6;
$gray-heather: 			#C8C8C8;
$gray-gaysir: 			#CFD9E0;
$gray-mystic: 			#E3E9ED;
$gray-hades: 			#EFF3F6;
$gray-aqua: 			#F8FAFB;

$dark-blue-blackale:	#08192B;
$dark-blue-zodiac:		#0B2239;
$dark-blue-fc: 	 		#0E2A47;
$dark-blue-biscay: 		#113255;
$dark-blue-chathams: 	#143B63;
$dark-blue-bay: 		#164372;
$dark-blue-blumine: 	#194C80;
$dark-blue-sea: 		#1F5A97;

$purple-jacksons: 		#202095;
$purple-governor: 		#2D2DB0;
$purple-spiritual: 		#3636CC;
$purple-piktab:			#4949E7;
$purple-sara: 			#5F5FF6;
$purple-portage: 		#8080F1;
$purple-melrose: 		#B3B3FC;
$purple-fog: 			#D7D7FF;

$blue-congress: 		#04458F;
$blue-endeavour: 		#0353A7;
$blue-science: 			#0161CD;
$blue-freepik: 			#336AEA;
$blue-campu: 			#2C8CF4;
$blue-malibu: 			#5EB2FC;
$blue-picton: 			#92CDFA;
$blue-onahau: 			#C7EBFF;

$green-jade: 			#008B71;
$green-shamrock: 		#009D73;
$green-jungle: 			#00AF80;
$green-flaticon:		#2BC48A;
$green-pepinen: 		#4AD295;
$green-snowy: 			#60E0A3;
$green-hint: 			#79EBB2;
$green-sugar: 			#A2F7C5;

$yellow-tango: 			#DD6D10;
$yellow-poppy: 			#EB7D16;
$yellow-sin: 			#F69110;
$yellow-premium:		#FCA120;
$yellow-bea:	 		#FCBD24;
$yellow-dandelion: 		#FCD250;
$yellow-paco:	 		#FCDB7E;
$yellow-buttermilk: 	#FFEEB6;

$red-thunderbird: 		#C12020;
$red-valencia:	 		#D53232;
$red-bloody: 			#EB644C;
$red-muri:				#FB5252;
$red-salmon: 			#FF8578;
$red-lisa: 				#FFA68F;
$red-wax: 				#FFC8AF;
$red-bush: 				#FFDECC;

$social-rainbow-google: url('~frontend_style/images/google.svg') no-repeat center center;
$social-google:         #dd4b39;
$social-behance:        #1769ff;
$social-dribbble:       #ea4c89;
$social-facebook:       #1877F2;
$social-instagram:      #c32aa3;
$social-pinterest:      #cb2027;
$social-stumbleupon:    #f74425;
$social-twitter:        #55acee;
$social-vimeo:          #aad450;
$social-youtube:        #bb0000;
$social-whatsapp:       #25d366;
$social-telegram:       #0088cc;
