@font-face {
    font-family: $font-family;
    src: url('https://freepik.cdnpk.net/assets/proximanova-regular-webfont.woff2') format('woff2');
    font-weight: $font-weight-regular;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $font-family;
    src: url('https://freepik.cdnpk.net/assets/proximanova-semibold-webfont.woff2') format('woff2');
    font-weight: $font-weight-semibold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $font-family;
    src: url('https://freepik.cdnpk.net/assets/proximanova-bold-webfont.woff2') format('woff2');
    font-weight: $font-weight-bold;
    font-style: normal;
    font-display: swap;
}
