$webfont: "webfont";

@font-face {
    font-family: $webfont;
    src: url("~frontend_style/fonts/webfont.woff2?1a1df5c03d65bbd4cbec623768f3a512") format("woff2"),
url("~frontend_style/fonts/webfont.woff?1a1df5c03d65bbd4cbec623768f3a512") format("woff");
}

%icon {
    display: block;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;

    &::before {
        font-family: $webfont;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
    }
}

.icon {
    @extend %icon;
    width: $base-icon-width;
    height: $base-icon-height;
    font-size: $base-icon-width;
    line-height: $base-icon-height;
    color: $gray-oxford;
    fill: $gray-oxford;
}

.icon--inverted {
    color: #ffffff !important;
    fill: #ffffff !important;
}

@each $size1 in $sizes {
    $map: map-get($icon-sizes, $size1);

    .icon--#{$size1} {
        width: map-get($map, 'width');
        height: map-get($map, 'height');
        font-size: map-get($map, 'width');
        line-height: map-get($map, 'height');
    }
}

.icon--3d { &::before { content: "\f101"; } }
.icon--add-to-folder { &::before { content: "\f102"; } }
.icon--addcollection { &::before { content: "\f103"; } }
.icon--advanced { &::before { content: "\f104"; } }
.icon--aligncenter { &::before { content: "\f105"; } }
.icon--alignleft { &::before { content: "\f106"; } }
.icon--alignright { &::before { content: "\f107"; } }
.icon--amex { &::before { content: "\f108"; } }
.icon--archive { &::before { content: "\f109"; } }
.icon--background { &::before { content: "\f10a"; } }
.icon--backwards { &::before { content: "\f10b"; } }
.icon--beacon-lineal { &::before { content: "\f10c"; } }
.icon--beacon { &::before { content: "\f10d"; } }
.icon--beginner { &::before { content: "\f10e"; } }
.icon--behance { &::before { content: "\f10f"; } }
.icon--bold { &::before { content: "\f110"; } }
.icon--book { &::before { content: "\f111"; } }
.icon--bookmark-filled { &::before { content: "\f112"; } }
.icon--bookmark { &::before { content: "\f113"; } }
.icon--briefcase { &::before { content: "\f114"; } }
.icon--brush { &::before { content: "\f115"; } }
.icon--bug { &::before { content: "\f116"; } }
.icon--bullet { &::before { content: "\f117"; } }
.icon--calendar { &::before { content: "\f118"; } }
.icon--camera { &::before { content: "\f119"; } }
.icon--caret-down { &::before { content: "\f11a"; } }
.icon--caret-left { &::before { content: "\f11b"; } }
.icon--caret-right { &::before { content: "\f11c"; } }
.icon--caret-up { &::before { content: "\f11d"; } }
.icon--check { &::before { content: "\f11e"; } }
.icon--checkbox { &::before { content: "\f11f"; } }
.icon--circle-filled { &::before { content: "\f120"; } }
.icon--circle-lineal-small { &::before { content: "\f121"; } }
.icon--circle-lineal { &::before { content: "\f122"; } }
.icon--circle { &::before { content: "\f123"; } }
.icon--clean { &::before { content: "\f124"; } }
.icon--clip { &::before { content: "\f125"; } }
.icon--cloud { &::before { content: "\f126"; } }
.icon--collapse { &::before { content: "\f127"; } }
.icon--collection { &::before { content: "\f128"; } }
.icon--comment { &::before { content: "\f129"; } }
.icon--cookie { &::before { content: "\f12a"; } }
.icon--copy-image { &::before { content: "\f12b"; } }
.icon--copyright { &::before { content: "\f12c"; } }
.icon--coupon { &::before { content: "\f12d"; } }
.icon--create-folder-filled { &::before { content: "\f12e"; } }
.icon--create-folder { &::before { content: "\f12f"; } }
.icon--credit-card { &::before { content: "\f130"; } }
.icon--crop { &::before { content: "\f131"; } }
.icon--cross-small { &::before { content: "\f132"; } }
.icon--cross { &::before { content: "\f133"; } }
.icon--crown { &::before { content: "\f134"; } }
.icon--dashboard { &::before { content: "\f135"; } }
.icon--devices { &::before { content: "\f136"; } }
.icon--disabled { &::before { content: "\f137"; } }
.icon--display-options { &::before { content: "\f138"; } }
.icon--dollar { &::before { content: "\f139"; } }
.icon--down-small { &::before { content: "\f13a"; } }
.icon--down { &::before { content: "\f13b"; } }
.icon--download { &::before { content: "\f13c"; } }
.icon--dribbble { &::before { content: "\f13d"; } }
.icon--duplicate { &::before { content: "\f13e"; } }
.icon--earnings { &::before { content: "\f13f"; } }
.icon--edit { &::before { content: "\f140"; } }
.icon--empty { &::before { content: "\f141"; } }
.icon--envelope-solid { &::before { content: "\f142"; } }
.icon--envelope { &::before { content: "\f143"; } }
.icon--exclamation { &::before { content: "\f144"; } }
.icon--external-link { &::before { content: "\f145"; } }
.icon--eye-line-through { &::before { content: "\f146"; } }
.icon--eye { &::before { content: "\f147"; } }
.icon--facebook { &::before { content: "\f148"; } }
.icon--file { &::before { content: "\f149"; } }
.icon--filter { &::before { content: "\f14a"; } }
.icon--fiverr { &::before { content: "\f14b"; } }
.icon--flag { &::before { content: "\f14c"; } }
.icon--flame { &::before { content: "\f14d"; } }
.icon--flaticon-symbol { &::before { content: "\f14e"; } }
.icon--flaticon-text { &::before { content: "\f14f"; } }
.icon--flaticon { &::before { content: "\f150"; } }
.icon--flip { &::before { content: "\f151"; } }
.icon--fold { &::before { content: "\f152"; } }
.icon--folder { &::before { content: "\f153"; } }
.icon--follow-folder { &::before { content: "\f154"; } }
.icon--followcollection { &::before { content: "\f155"; } }
.icon--following { &::before { content: "\f156"; } }
.icon--font { &::before { content: "\f157"; } }
.icon--forwards { &::before { content: "\f158"; } }
.icon--fullscreen { &::before { content: "\f159"; } }
.icon--globe { &::before { content: "\f15a"; } }
.icon--google { &::before { content: "\f15b"; } }
.icon--grid { &::before { content: "\f15c"; } }
.icon--headphones { &::before { content: "\f15d"; } }
.icon--headquarters { &::before { content: "\f15e"; } }
.icon--heart-filled { &::before { content: "\f15f"; } }
.icon--heart { &::before { content: "\f160"; } }
.icon--history { &::before { content: "\f161"; } }
.icon--home { &::before { content: "\f162"; } }
.icon--hourglass { &::before { content: "\f163"; } }
.icon--images { &::before { content: "\f164"; } }
.icon--inbox { &::before { content: "\f165"; } }
.icon--info { &::before { content: "\f166"; } }
.icon--instagram { &::before { content: "\f167"; } }
.icon--interactive { &::before { content: "\f168"; } }
.icon--intermediate { &::before { content: "\f169"; } }
.icon--interogation { &::before { content: "\f16a"; } }
.icon--italic { &::before { content: "\f16b"; } }
.icon--justify { &::before { content: "\f16c"; } }
.icon--keyboard { &::before { content: "\f16d"; } }
.icon--laptop { &::before { content: "\f16e"; } }
.icon--layers { &::before { content: "\f16f"; } }
.icon--left-small { &::before { content: "\f170"; } }
.icon--left { &::before { content: "\f171"; } }
.icon--license { &::before { content: "\f172"; } }
.icon--light-bulb { &::before { content: "\f173"; } }
.icon--linkedin { &::before { content: "\f174"; } }
.icon--list { &::before { content: "\f175"; } }
.icon--lock-open-solid { &::before { content: "\f176"; } }
.icon--lock-solid { &::before { content: "\f177"; } }
.icon--lock { &::before { content: "\f178"; } }
.icon--logo-symbol-old { &::before { content: "\f179"; } }
.icon--logo-symbol { &::before { content: "\f17a"; } }
.icon--logo-text-old { &::before { content: "\f17b"; } }
.icon--logo-text { &::before { content: "\f17c"; } }
.icon--logout { &::before { content: "\f17d"; } }
.icon--marker { &::before { content: "\f17e"; } }
.icon--master-card { &::before { content: "\f17f"; } }
.icon--menuburger { &::before { content: "\f180"; } }
.icon--menudots-vertical { &::before { content: "\f181"; } }
.icon--menudots { &::before { content: "\f182"; } }
.icon--minimize { &::before { content: "\f183"; } }
.icon--minus-small { &::before { content: "\f184"; } }
.icon--minus { &::before { content: "\f185"; } }
.icon--mockup { &::before { content: "\f186"; } }
.icon--move-to-folder-2 { &::before { content: "\f187"; } }
.icon--move-to-folder { &::before { content: "\f188"; } }
.icon--next-small { &::before { content: "\f189"; } }
.icon--next { &::before { content: "\f18a"; } }
.icon--notification-filled { &::before { content: "\f18b"; } }
.icon--notification { &::before { content: "\f18c"; } }
.icon--o-horizontal { &::before { content: "\f18d"; } }
.icon--o-panoramic { &::before { content: "\f18e"; } }
.icon--o-square { &::before { content: "\f18f"; } }
.icon--o-vertical { &::before { content: "\f190"; } }
.icon--opacity { &::before { content: "\f191"; } }
.icon--palette { &::before { content: "\f192"; } }
.icon--paper-plane { &::before { content: "\f193"; } }
.icon--paper-plane2 { &::before { content: "\f194"; } }
.icon--paste { &::before { content: "\f195"; } }
.icon--pause { &::before { content: "\f196"; } }
.icon--paypal { &::before { content: "\f197"; } }
.icon--pencil { &::before { content: "\f198"; } }
.icon--phone { &::before { content: "\f199"; } }
.icon--photo { &::before { content: "\f19a"; } }
.icon--picpeople-filled { &::before { content: "\f19b"; } }
.icon--picpeople { &::before { content: "\f19c"; } }
.icon--pinterest { &::before { content: "\f19d"; } }
.icon--pixabay { &::before { content: "\f19e"; } }
.icon--play { &::before { content: "\f19f"; } }
.icon--plus-small { &::before { content: "\f1a0"; } }
.icon--plus { &::before { content: "\f1a1"; } }
.icon--prev-small { &::before { content: "\f1a2"; } }
.icon--prev { &::before { content: "\f1a3"; } }
.icon--projects { &::before { content: "\f1a4"; } }
.icon--psd { &::before { content: "\f1a5"; } }
.icon--quote { &::before { content: "\f1a6"; } }
.icon--receipt { &::before { content: "\f1a7"; } }
.icon--redo { &::before { content: "\f1a8"; } }
.icon--reflect-horizontal { &::before { content: "\f1a9"; } }
.icon--reflect-vertical { &::before { content: "\f1aa"; } }
.icon--refresh { &::before { content: "\f1ab"; } }
.icon--remove-folder { &::before { content: "\f1ac"; } }
.icon--removecollection { &::before { content: "\f1ad"; } }
.icon--replace { &::before { content: "\f1ae"; } }
.icon--resources { &::before { content: "\f1af"; } }
.icon--right-small { &::before { content: "\f1b0"; } }
.icon--right { &::before { content: "\f1b1"; } }
.icon--rotate-inverted { &::before { content: "\f1b2"; } }
.icon--rotate { &::before { content: "\f1b3"; } }
.icon--save { &::before { content: "\f1b4"; } }
.icon--search { &::before { content: "\f1b5"; } }
.icon--security { &::before { content: "\f1b6"; } }
.icon--settings { &::before { content: "\f1b7"; } }
.icon--share { &::before { content: "\f1b8"; } }
.icon--shopping-cart { &::before { content: "\f1b9"; } }
.icon--shuffle { &::before { content: "\f1ba"; } }
.icon--slidesgo { &::before { content: "\f1bb"; } }
.icon--smiley-comment { &::before { content: "\f1bc"; } }
.icon--sortcollection { &::before { content: "\f1bd"; } }
.icon--speaker { &::before { content: "\f1be"; } }
.icon--spinner { &::before { content: "\f1bf"; } }
.icon--square-lineal { &::before { content: "\f1c0"; } }
.icon--square { &::before { content: "\f1c1"; } }
.icon--squares { &::before { content: "\f1c2"; } }
.icon--squircle-lineal { &::before { content: "\f1c3"; } }
.icon--squircle { &::before { content: "\f1c4"; } }
.icon--star-comment { &::before { content: "\f1c5"; } }
.icon--star-filled { &::before { content: "\f1c6"; } }
.icon--star { &::before { content: "\f1c7"; } }
.icon--stats { &::before { content: "\f1c8"; } }
.icon--stop { &::before { content: "\f1c9"; } }
.icon--stumbleupon { &::before { content: "\f1ca"; } }
.icon--subtitles { &::before { content: "\f1cb"; } }
.icon--support { &::before { content: "\f1cc"; } }
.icon--tablet { &::before { content: "\f1cd"; } }
.icon--tag { &::before { content: "\f1ce"; } }
.icon--telegram { &::before { content: "\f1cf"; } }
.icon--template-alt { &::before { content: "\f1d0"; } }
.icon--template { &::before { content: "\f1d1"; } }
.icon--thumb-down { &::before { content: "\f1d2"; } }
.icon--thumb-up { &::before { content: "\f1d3"; } }
.icon--time { &::before { content: "\f1d4"; } }
.icon--trash { &::before { content: "\f1d5"; } }
.icon--twitter { &::before { content: "\f1d6"; } }
.icon--underline { &::before { content: "\f1d7"; } }
.icon--undo { &::before { content: "\f1d8"; } }
.icon--unfold { &::before { content: "\f1d9"; } }
.icon--unlock { &::before { content: "\f1da"; } }
.icon--up-small { &::before { content: "\f1db"; } }
.icon--up { &::before { content: "\f1dc"; } }
.icon--upload-to-folder { &::before { content: "\f1dd"; } }
.icon--upload { &::before { content: "\f1de"; } }
.icon--url { &::before { content: "\f1df"; } }
.icon--user { &::before { content: "\f1e0"; } }
.icon--users { &::before { content: "\f1e1"; } }
.icon--vector { &::before { content: "\f1e2"; } }
.icon--video-linear { &::before { content: "\f1e3"; } }
.icon--video { &::before { content: "\f1e4"; } }
.icon--vimeo { &::before { content: "\f1e5"; } }
.icon--visa { &::before { content: "\f1e6"; } }
.icon--volume { &::before { content: "\f1e7"; } }
.icon--whatsapp { &::before { content: "\f1e8"; } }
.icon--world { &::before { content: "\f1e9"; } }
.icon--youtube { &::before { content: "\f1ea"; } }
.icon--zoom-in { &::before { content: "\f1eb"; } }
.icon--zoom-out { &::before { content: "\f1ec"; } }

$social-rainbow-google: url('~frontend_style/images/google.svg') no-repeat center center;
$freepik-logo: url('~frontend_style/images/freepik-logo.svg') no-repeat center center;
$flaticon-logo: url('~frontend_style/images/flaticon-logo.svg') no-repeat center center;

$card-logo: url('~frontend_style/images/card.svg') no-repeat center center;
$flaticon-name: url('~frontend_style/images/flaticon.svg') no-repeat center center;
$freepik-name: url('~frontend_style/images/freepik.svg') no-repeat center center;
$freepik-logo-full-light: url('~frontend_style/images/freepikcompany-footer.svg') no-repeat center center;
$freepik-logo-full-dark: url('~frontend_style/images/logo_freepik_company.svg') no-repeat center center;
$paypal-logo: url('~frontend_style/images/paypal-logo.svg') no-repeat center center;

$social-behance:        #1769ff;
$social-dribbble:       #ea4c89;
$social-facebook:       #1877F2;
$social-google:         #dd4b39;
$social-instagram:      #c32aa3;
$social-pinterest:      #cb2027;
$social-stumbleupon:    #f74425;
$social-twitter:        #55acee;
$social-vimeo:          #aad450;
$social-youtube:        #bb0000;
$social-whatsapp:       #25d366;
$social-telegram:       #0088cc;

$social-icons: (
    'behance': $social-behance,
    'dribbble': $social-dribbble,
    'facebook': $social-facebook,
    'google': $social-google,
    'instagram': $social-instagram,
    'pinterest': $social-pinterest,
    'stumbleupon': $social-stumbleupon,
    'twitter': $social-twitter,
    'vimeo': $social-vimeo,
    'youtube': $social-youtube,
    'whatsapp': $social-whatsapp,
    'telegram': $social-telegram,
);

@each $name, $color in $social-icons {
    .icon--color-#{$name} {
        color: $color;
    }
}

.icon--color-rainbow-google {
    background: $social-rainbow-google;
}

.icon--freepik-logo {
    background: $freepik-logo;
}

.icon--flaticon-logo {
    background: $flaticon-logo;
}

.icon--card-logo{
    background: $card-logo;
}

.icon--flaticon-name{
    background: $flaticon-name;
}

.icon--freepik-name{
    background: $freepik-name;
}

.icon--freepik-full-light{
    background: $freepik-logo-full-light;
}

.icon--freepik-full-dark{
    background: $freepik-logo-full-dark;
}

.icon--paypal-logo{
    background: $paypal-logo;
}
