input:not([type]),
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select {
    font-family: $font-family;
    display: block;
    width: 100%;
    padding: $spacing-sm;
    border: none;
    box-shadow: inset 0 0 0 1px $gray-heather;
    border-radius: $base-border-radius;
    font-size: $font-size-md;
    min-height: 24px;
    line-height: 24px;
    background-color: #ffffff;
    color: #424242;
    transition: box-shadow 1ms cubic-bezier(1, 0, 0, 1);
    -webkit-appearance: none;
    -moz-appearance: none;
    user-select: text;
    outline: none;

    &.input--no-style,
    &.select--no-style {
        padding: 0;
        box-shadow: none;
    }
}

input {
    &:focus,
    &:active {
        box-shadow: inset 0 0 0 2px $blue-freepik;
    }

    &.input--success {
        box-shadow: inset 0 0 0 2px $green-flaticon;
    }

    &.input--error {
        box-shadow: inset 0 0 0 2px $red-bloody;
    }
}

select {
    white-space: pre-wrap;

    &.select--arrow {
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        background-image: url("data:image/svg+xml;utf8,<svg fill='%2424242' height='20' viewBox='0 0 20 20' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 10px;
        padding-right: $spacing-lg;
    }
}

::-webkit-input-placeholder {
    font-family: $font-family;
    color: $gray-cadet;
}

::-moz-placeholder {
    font-family: $font-family;
    color: $gray-cadet;
}

:-ms-input-placeholder {
    font-family: $font-family;
    color: $gray-cadet;
}

:-moz-placeholder {
    font-family: $font-family;
    color: $gray-cadet;
}

input,
textarea,
select {
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-text-fill-color: $gray-oxford;
        box-shadow: inset 0 0 0 1px $gray-heather;
    }
}

input:-webkit-autofill::first-line {
    font-family: $font-family;
    font-size: $font-size-md;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type="checkbox"],
    input[type="radio"] {
        --active-inner: #ffffff;
        --focus: 2px rgba(39, 94, 254, 0.3);
        --border: #bbc1e1;
        --background: #ffffff;
        --disabled: #f6f8ff;
        --disabled-inner: #e1e6f9;

        -webkit-appearance: none;
        -moz-appearance: none;

        display: inline-block;
        height: 21px;
        vertical-align: top;
        position: relative;
        margin: 0;
        border: 1px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
        outline: none;
        cursor: pointer;

        &:after {
            content: "";
            display: block;
            left: 0;
            top: 0;
            position: absolute;
            transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
        }

        &:checked {
            --b: var(--checkbox-active-color);
            --bc: var(--checkbox-active-color);
            --d-o: 0.3s;
            --d-t: 0.6s;
            --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
        }

        &:disabled {
            --b: var(--disabled);
            cursor: not-allowed;
            opacity: 0.9;

            &:checked {
                --b: var(--disabled-inner);
                --bc: var(--border);
            }

            & + label {
                cursor: not-allowed;
            }
        }

        &:hover {
            &:not(:checked) {
                &:not(:disabled) {
                    --bc: var(--checkbox-border-hover-color);
                }
            }
        }

        &:focus {
            box-shadow: 0 0 0 var(--focus);
        }

        &:not(.switch) {
            width: 21px;

            &:after {
                opacity: var(--o, 0);
            }

            &:checked {
                --o: 1;
            }
        }

        & + label {
            font-size: 14px;
            line-height: 21px;
            display: inline-block;
            vertical-align: top;
            cursor: pointer;
            margin-left: 4px;
        }
    }

    input[type="checkbox"] {
        &:not(.switch) {
            border-radius: $base-border-radius;

            &:after {
                width: 5px;
                height: 9px;
                border: 2px solid var(--active-inner);
                border-top: 0;
                border-left: 0;
                left: 7px;
                top: 4px;
                transform: rotate(var(--r, 20deg));
            }

            &:checked {
                --r: 43deg;
            }
        }

        &.switch {
            width: 38px;
            border-radius: 11px;

            &:after {
                left: 2px;
                top: 2px;
                border-radius: 50%;
                width: 15px;
                height: 15px;
                background: var(--ab, var(--border));
                transform: translateX(var(--x, 0));
            }

            &:checked {
                --ab: var(--active-inner);
                --x: 17px;
            }

            &:disabled {
                &:not(:checked) {
                    &:after {
                        opacity: 0.6;
                    }
                }
            }
        }
    }

    input[type="radio"] {
        border-radius: 50%;

        &:after {
            width: 19px;
            height: 19px;
            border-radius: 50%;
            background: var(--active-inner);
            opacity: 0;
            transform: scale(var(--s, 0.7));
        }

        &:checked {
            --s: 0.5;
        }
    }
}

label.checkbox {
    display: flex;
    align-items: center;
    gap: $spacing-sm;

    span {
        flex: 1;
    }
}
