$spacings: (
    'none': 0,
    'xs': $spacing-xs,
    'sm': $spacing-sm,
    'md': $spacing-md,
    'lg': $spacing-lg,
    'xl': $spacing-xl,
    'xxl': $spacing-xxl,
);

$positions: ('left', 'right', 'top', 'bottom');

@each $spacing, $paddingPixels in $spacings {
    .pd-#{$spacing} {
        padding: $paddingPixels;
    }

    @each $position in $positions {
        .pd-#{$spacing}-#{$position} {
            padding-#{$position}: $paddingPixels;
        }
    }
}

@each $spacing, $marginPixels in $spacings {
    .mg-#{$spacing} {
        margin: $marginPixels;
    }

    @each $position in $positions {
        .mg-#{$spacing}-#{$position} {
            margin-#{$position}: $marginPixels;
        }
    }
}
