// link
a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: var(--link-color);
}

// paragraph
p {
    margin: 0 0 $spacing-md;
}

// span
.span--link {
    display: flex;
    align-items: center;
    font-weight: $font-weight-semibold;
    color: var(--link-color);
    cursor: pointer;

    .icon {
        margin-right: $spacing-sm;
    }
}

// font
$font-sizes: (
    'xs': $font-size-xs,
    'sm': $font-size-sm,
    'md': $font-size-md,
    'lg': $font-size-lg,
    'xl': $font-size-xl,
    'xxl': $font-size-xxl
);

$font-weight: (
    'regular': $font-weight-regular,
    'semibold': $font-weight-semibold,
    'bold': $font-weight-bold
);

@each $font, $fontRemSizes in $font-sizes {
    .font-#{$font} {
        font-size: $fontRemSizes;
    }
}

@each $font, $fontWeightSizes in $font-weight {
    .font-#{$font} {
        font-weight: $fontWeightSizes;
    }
}
