$all-colors: (
    'gray-ebony': $gray-ebony,
    'gray-oxford': $gray-oxford,
    'gray-bayoux': $gray-bayoux,
    'gray-hoki': $gray-hoki,
    'gray-bali': $gray-bali,
    'gray-cadet': $gray-cadet,
    'gray-heather': $gray-heather,
    'gray-gaysir': $gray-gaysir,
    'gray-mystic': $gray-mystic,
    'gray-hades': $gray-hades,
    'gray-aqua': $gray-aqua,

    'dark-blue-blackale': $dark-blue-blackale,
    'dark-blue-zodiac': $dark-blue-zodiac,
    'dark-blue-fc': $dark-blue-fc,
    'dark-blue-biscay': $dark-blue-biscay,
    'dark-blue-chathams': $dark-blue-chathams,
    'dark-blue-bay': $dark-blue-bay,
    'dark-blue-blumine': $dark-blue-blumine,
    'dark-blue-sea': $dark-blue-sea,

    'purple-jacksons': $purple-jacksons,
    'purple-governor': $purple-governor,
    'purple-spiritual': $purple-spiritual,
    'purple-piktab': $purple-piktab,
    'purple-sara': $purple-sara,
    'purple-portage': $purple-portage,
    'purple-melrose': $purple-melrose,
    'purple-fog': $purple-fog,

    'blue-congress': $blue-congress,
    'blue-endeavour': $blue-endeavour,
    'blue-science': $blue-science,
    'blue-freepik': $blue-freepik,
    'blue-campu': $blue-campu,
    'blue-malibu': $blue-malibu,
    'blue-picton': $blue-picton,
    'blue-onahau': $blue-onahau,

    'green-jade': $green-jade,
    'green-shamrock': $green-shamrock,
    'green-jungle': $green-jungle,
    'green-flaticon': $green-flaticon,
    'green-pepinen': $green-pepinen,
    'green-snowy': $green-snowy,
    'green-hint': $green-hint,
    'green-sugar': $green-sugar,

    'yellow-tango': $yellow-tango,
    'yellow-poppy': $yellow-poppy,
    'yellow-sin': $yellow-sin,
    'yellow-premium': $yellow-premium,
    'yellow-bea': $yellow-bea,
    'yellow-dandelion': $yellow-dandelion,
    'yellow-paco': $yellow-paco,
    'yellow-buttermilk': $yellow-buttermilk,

    'red-thunderbird': $red-thunderbird,
    'red-valencia': $red-valencia,
    'red-bloody': $red-bloody,
    'red-muri': $red-muri,
    'red-salmon': $red-salmon,
    'red-lisa': $red-lisa,
    'red-wax': $red-wax,
    'red-bush': $red-bush,
);

$social-icons: (
    'behance': $social-behance,
    'dribbble': $social-dribbble,
    'facebook': $social-facebook,
    'google': $social-google,
    'instagram': $social-instagram,
    'pinterest': $social-pinterest,
    'stumbleupon': $social-stumbleupon,
    'twitter': $social-twitter,
    'vimeo': $social-vimeo,
    'youtube': $social-youtube,
    'whatsapp': $social-whatsapp,
    'telegram': $social-telegram,
);

@each $name, $color in $all-colors {
    .color--#{$name} {
        color: $color;
    }
}

@each $name, $color in $social-icons {
    .icon.icon--color-#{$name} {
        color: $color;
    }
}

.icon--color-rainbow-google {
    background: $social-rainbow-google;
}
