@use "sass:math";

@function toRem($value) {
	@return math.div($value,16) + rem;
}

$font-family: 'Inter';
$font-size-xs: toRem(12);
$font-size-sm: toRem(13);
$font-size-md: toRem(15);
$font-size-lg: toRem(17);
$font-size-xl: toRem(21);
$font-size-xxl: toRem(24);

$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$base-border-radius: 3px;

// spacing
$spacing: 5px;
$spacing-xs: $spacing * 1;
$spacing-sm: $spacing * 2;
$spacing-md: $spacing * 3;
$spacing-lg: $spacing * 4;
$spacing-xl: $spacing * 6;
$spacing-xxl: $spacing * 10;

// breakpoints
$breakpoint-sm: 576;
$breakpoint-md: 768;
$breakpoint-lg: 992;
$breakpoint-xl: 1400;

$breakpoints: (
    'sm': $breakpoint-sm,
    'md': $breakpoint-md,
    'lg': $breakpoint-lg,
    'xl': $breakpoint-xl,
);

// grid
$grid-system: 12;
$col-spacing: 20;

// icons
$logo-icon-width: 44px;
$logo-icon-height: $logo-icon-width;
$extra-large-icon-width: 24px;
$extra-large-icon-height: $extra-large-icon-width;
$large-icon-width: 20px;
$large-icon-height: $large-icon-width;
$base-large-icon-width: 18px;
$base-large-icon-height: $base-large-icon-width;
$base-icon-width: 16px;
$base-icon-height: $base-icon-width;
$small-icon-width: 14px;
$small-icon-height: $small-icon-width;
$extra-small-icon-width: 12px;
$extra-small-icon-height: $extra-small-icon-width;

$sizes: 'xs', 'sm', 'md', 'lg', 'xl', 'logo';

$icon-sizes: (
	'xs': (
		'width': $extra-small-icon-width,
		'height': $extra-small-icon-height
	),
	'sm': (
		'width': $small-icon-width,
		'height': $small-icon-width
	),
	'md': (
		'width': $base-icon-width,
		'height': $base-icon-height
	),
	'lg': (
		'width': $large-icon-width,
		'height': $large-icon-height
	),
	'xl': (
		'width': $extra-large-icon-width,
		'height': $extra-large-icon-height
	),
	'logo': (
		'width': $logo-icon-width,
		'height': $logo-icon-height
	)
);
